@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-font-family-base: "Roboto Mono", "Noto Sans TC", "Noto Sans SC", serif;
  --vp-c-brand-1: #f472b6;
  --vp-c-brand-2: #f759aa;
}

/* Overriding VitePress default theme */
body {
  min-width: unset;
}

.vp-doc {
  h2 {
    margin: 16px 0;
    border-top: unset;
  }
}
